{% extends 'base.html.twig' %}

{% block title %}SeeTickets
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<header class="banner text-white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner-content">
						<div class="headerTitle">
							<h1>MC SOLAAR</h1>
							<h2>ACCOR ARENA</h2>
							<h2>PARIS</h2>
							<h3>mercredi 20 mars 2024</h3>
							<a><img src="{{asset('images/04-buttons/00-button-reserver.png')}}"/></a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</header>

	{# MAIN #}

	<main class="container mt-5">
		<h2 class="ms-2 mt-5">
			Meilleures ventes:
		</h2>
		<div class="container text-center">
			<div class="row overflow-container">
				{% for event in events %}
					<div class="col-md-4">
						<div class="card mb-1">
							<div class="card-body">
								<a href="/event_details/{{event.id}}">
									<img class="imgTop20" src="{{asset('images/05-posters/' ~ event.eventImage)}}"/>
								</a>
							</div>
						</div>
						<h5 class="card-title">{{ event.eventName }}</h5>
					</div>
				{% endfor %}
			</div>
		</div>
		<a href="/events"><img src="{{asset('images/04-buttons/01-button-top-20.png')}}"/></a>


		<h2 class=" ms-2 mt-5">
			Découvrir par categories:
		</h2>

		<div class="container mt-5 mb-5">

			<div class="row ">
				{% for categorie in category %}


					<div class="col-4 mb-2 h-50">
						<div class="category ">
							<a class="nav-link" href="/events/{{categorie.id}}">
								<img src="{{asset('images/07-categories/08-categorie-background.png')}}" alt="Bannière">
								<div class="category-content   ">
									<h1>{{categorie.categoryName}}</h1>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}

			</div>

		</div>

		<h1 class="ms-2">
			La billetterie de vos évènements favoris
		</h1>


	</main>

	{# INCLUSION DU FOOTER #}
		{% include "footer.html.twig" %}




</main>

{% endblock %}
