{% extends 'base.html.twig' %}

{% block title %}SeeTickets
{% endblock %}
 
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<header class="banner ">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner-content">
						<div class="headerTitle">
							<h1>{{event[3].eventName}}</h1>
							<h2>{{event[3].organisationName}}</h2>
							<h2>{{event[3].eventPlace}}</h2>
							<h3>{{event[3].eventPrice}} €</h3>
							<a href="/event_details/{{event[3].id}}"><img src="{{asset('images/04-buttons/00-button-reserver.png')}}"/></a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</header>

	{# MAIN #}

	<main class="container mt-5">
		<h2 class="ms-2 mt-5">
			Meilleures ventes:
		</h2>
		<div class="container text-center">
			<div class="row overflow-container">
				{% for event in events %}
					<div class="col-md-4">
						<div class="card mb-1">
							<div class="card-body">
								<a href="/event_details/{{event.id}}">
									<img class="imgTop20" src="{{asset('images/05-posters/' ~ event.eventImage)}}"/>
								</a>
							</div>
						</div>
						<h5 class="card-title">{{ event.eventName }}</h5>
					</div>
				{% endfor %}
			</div>
		</div>
		<a href="/events"> <button class ="mt-2 btn btn-primary"> Voir les évènements </button></a>


		<h2 class=" ms-2 mt-5">
			Découvrir par categories:
		</h2>

		<div class="container mt-5 mb-5">

			<div class="row ">
				{% for categorie in category %}


					<div class="col-4 mb-2 h-50">
						<div class="category ">
							<a class="nav-link" href="/events/{{categorie.id}}">
								<img src="{{asset('images/07-categories/08-categorie-background.png')}}" alt="Bannière">
								<div class="category-content   ">
									<h1>{{categorie.categoryName}}</h1>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}

			</div>

		</div>

		<h2 class="ms-2">
			Vos évènements favoris :
		</h2>

			{% if favoris %}
				<div class="container text-center">
					<div class="row overflow-container">
						{% for event in favoris %}
							<div class="col-md-4">
								<div class="card mb-1">
									<div class="card-body">
										<a href="/event_details/{{event.id}}">
											<img class="imgTop20" src="{{asset('images/05-posters/' ~ event.eventImage)}}"/>
										</a>
									</div>
								</div>
								<h5 class="card-title">{{ event.eventName }}</h5>

							</div>
						{% endfor %}
					</div>
				</div>
			{% else %}
			<h3 class="ms-2">pas de favori enregistré</h3>
			{% endif %}


			<h2 class="ms-2 mt-5">
			Les spectateurs témoignent:
			</h2>

			

			{% set testimonials = [
				{'name': 'Alice Johnson','rating': 4, 'role': 'Spécialiste du support client', 'message': "L'application SeeTickets a révolutionné notre façon de gérer les demandes de nos clients. Elle est simple à utiliser et dispose de toutes les fonctionnalités dont nous avons besoin."},
				{'name': 'John Smith','rating': 5, 'role': 'Directeur informatique', 'message': 'Notre équipe utilise cette application de tickets depuis des mois maintenant et nous avons constaté une réduction significative du temps de réponse. Elle est intuitive et personnalisable.'},
				{'name': 'Emily Brown', 'rating': 5, 'role': 'Administrateur système', 'message': 'Je recommande vivement ce logiciel de gestion des tickets. Il est robuste, fiable et dispose d\'excellentes fonctionnalités de reporting. Notre flux de travail n\'a jamais été aussi fluide.'}
			] %}

		<div class="container mt-3 mb-5">
			<div class="row">
				{% for testimonial in testimonials %}
				<div class="col-md-4 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ testimonial.name }}</h5>
							<p class="card-text">
								{% for i in 1..5 %}
									{% if i <= testimonial.rating %}
										<i class="bi bi-star-fill"></i>
									{% else %}
										<i class="bi bi-star"></i>
									{% endif %}
								{% endfor %}
							</p>
							<p class="card-text">{{ testimonial.message }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>


     </div>


	</main>






</main>

{% endblock %}
