{% extends 'base.html.twig' %}

{% block title %}Achat{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<main>

    <div class="container mt-5">
    <h1>Achat d'un billet</h1>

        <ul>
            <li>Nom de l'évènement : {{programmation.event.eventName}}</li>
            <li>Catégorie de l'évènement : {{programmation.event.category.categoryName}}</li>
            <li>Organisateur de l'évènement : {{programmation.event.organisationName}}</li>
            <li>Lieu de l'évènement : {{programmation.event.eventPlace}}</li>
            <li>Date de l'évènement : {{programmation.programmationDate | date('d-m-Y')}}</li>
            <li>Prix : {{programmation.event.eventPrice}}€</li>
        </ul>
    

    {{ form_start(form) }}
{#         {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
   
        {{ form_label(form.ticket_date) }}
        {{ form_widget(form.ticket_date) }} #}

        {{ form_label(form.ticket_firstname) }}
        {{ form_widget(form.ticket_firstname) }}

        {{ form_label(form.ticket_lastname) }}
        {{ form_widget(form.ticket_lastname) }}

        {# {{ form_label(form.ticket_time) }}
        {{ form_widget(form.ticket_time ) }} #}

        {#{{ form_label(form.ticket_place) }}
        {{ form_widget(form.ticket_place) }} #}

        {{ form_label(form.ticket_number_place) }}
        {{ form_widget(form.ticket_number_place) }}


        {# {{ form_rest(form) }} #}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
    </div>

</main>

	{# INCLUSION DU FOOTER #}
		{% include "footer.html.twig" %}

{% endblock %}
