{% extends 'base.html.twig' %}

{% block title %}SeeTickets{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{# HEADER #}

<header>
    <div class="headerContent">
        <div class="headerTitle">
            <h1>eTicket</h1>
        </div>
    </div>
</header>

{# MAIN #}
<main>

    <h1>Mes Tickets</h1>

    <div class="d-flex">
        {% for ticket in tickets %}
        <div class="card m-4" style="width: 18rem;">
            <img class="card-img-top" src="{{asset('images/05-posters/' ~ ticket.programmation.event.eventImage)}}"/>
            <div class="card-body">
                <h5 class="card-title">{{ticket.programmation.event.eventName}}</h5>
                <p class="card-text">Organisateur : {{ticket.programmation.event.organisationName}} </p>
                <p class="card-text">Lieu : {{ticket.programmation.event.eventPlace}}</p>
                <p class="card-text">Date : {{ticket.ticketDate | date('d-m-Y à H:i')}}</p>
                <p class="card-text">Nom :{{ticket.ticketLastname}}</p>
                <p class="card-text">Prénom : {{ticket.ticketFirstname}}</p>
                <p class="card-text">Prix : {{ticket.programmation.event.eventPrice}}€</p>

                {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
            </div>
        </div>
        {% endfor %}
    </div>
    
</main>


{% endblock %}
