{% extends 'base.html.twig' %}

{% block title %}Page Search{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

	<main class="container mt-5">

    <div class="searchBar">


        <form class="mt-5 text-center" action="{{ path('search_result') }}" method="get">
            <input class ="border border-dark" type="text" name="query" placeholder="Recherchez un évenement...">
            <button type="submit">Rechercher</button>
        </form>

        {% if message %}
        <h1 class="text-center mt-5"> Veuillez entrez des caratères de l'aplhabet francais (entre a et z) </h1>

        {% else %}


 

         {% if events == [] %}

          <h1 class="text-center mt-5"> Aucun résultat. </br> Veuillez rechercher un autre événement </h1>

         {% else %}

         <h1 class="text-center mt-5">Résultats de la recherche pour "{{ query }}" :</h1>
        
         {% if query|length <= 3 %}

         <p class="text-center> Si vous voulez avoir des résultats, veuillez affiner votre recherche </p> 
        
         {% else %}

         <p> ok </p>

         
         {% endif %}


        <div class="container text-center mt-5">
            <div class="row ">
                {% for event in events %}
                <div class="col-4  mb-2 mt-5 h-50">
                    <div class="card"  mb-1>
                        <div class="card-body">
                            <a href ="/event_details/{{event.id}}"> 
                            
                            <img  class="imgTop20" src="{{asset('images/05-posters/' ~ event.eventImage)}}"/>

                            </a>
                        </div>
                            <h5 class="card-title">{{ event.eventName }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
       
         {% endif %}

         {% endif %}


    </div>

    </main>

{% endblock %} 
 

 
